* {
  margin: 0;
}
.header {
  width: 1200px;
  margin: auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 18px;
}
.yakm {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.yakm select {
  border: none;
  outline: none;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}
.search {
  width: 55%;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}
.header button {
  padding: 10px 25px;
  background-color: #624de3;
  border: none;
  border-radius: 5px;
  color: white;
}
.all {
  width: 1200px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 7% 10% 13% 9% 7% 12% 8% 7%;
  grid-template-rows: repeat(10, 50px);
  justify-content: space-between;
  align-items: center;
  justify-items: startgitn;
}
.yak div {
  background-color: #ebf9f1;
  color: #1f9254;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
}
.se{
    background-color: #FEF2E5 !important;
    color:  #CD6200 !important;
    text-align: center;
    padding: 5px 0; 
    border-radius: 10px;
 
 }
.du {
  display: flex;
  gap: 15px;
  align-items: center;
}
